**/*.pyc
**/*.DS_Store
tests/.ipynb_checkpoints
**/*.root
**/Makefile
**/*.cmake
**/*.out
**/*.o
**/*.d
geant4/CMakeFiles
geant4/CMakeCache.txt
geant4/log
geant4/ecal
build/*
.vscode/*
geant4/build/*
.vscode/*
.vscode/settings.json
/tests/test_pascal.ipynb